Repository launchdarkly/cloudflare-edge-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: npm ts
  pass_filenames: false
  language: system

Add .ldrelease/config.yml (#10)
  .ldrelease/config.yml
Due: none

[sc-123893] Add Wrapper (#11)
  .editorconfig
  .eslintrc.yaml
  .gitignore
  cloudflare_feature_store.js
  configuration.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  test-types.ts
  tsconfig.json
Due: eslint, typescript

Add basic logging (#12)
  cloudflare_feature_store.js
  configuration.js
Due: eslint

Add in basic unit test coverage (#13)
  configuration.js
  messages.js
  package-lock.json
  package.json
  tests/configuration-test.js
Due: eslint

[sc-124910] Clean up repo (#14)
  .npmignore
  README.md
  package.json
Due: none

Update documentation (#15)
  CONTRIBUTING.md
  README.md
  index.d.ts
  package.json
Due: eslint, typescript

Initial release
  .circleci/config.yml
  .editorconfig
  .eslintignore
  .eslintrc.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .gitignore
  .ldrelease/config.yml
  .npmignore
  .pre-commit-config.yaml
  .prettierrc
  CHANGELOG.md
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.md
  cloudflare_feature_store.js
  configuration.js
  index.d.ts
  index.js
  messages.js
  package-lock.json
  package.json
  scripts/better-audit.sh
  test-types.ts
  tests/configuration-test.js
  tsconfig.json
Due: eslint, typescript

Add integration test (#16)
  .circleci/config.yml
  .eslintignore
  .eslintrc.yaml
  .gitignore
  cloudflare_feature_store.js
  index.js
  package-lock.json
  package.json
  tests/integration/integration-test.js
  tests/miniflare/kv/FeatureStore/LD-Env-deadbeefdeadbeefdeadbeef
  tests/miniflare/package.json
  tests/miniflare/webpack.config.js
  tests/miniflare/worker.js
  tests/miniflare/wrangler.toml
Due: eslint

Only expose needed functions from underlying SDK (#17)
  cloudflare_feature_store.js
  index.d.ts
  index.js
Due: eslint, typescript

Updating readme to remove prerequisite on node.js sdk (#18)
  README.md
Due: none

skip lib check for tsc (#20)
  package-lock.json
  package.json
  tsconfig.json
Due: none

Test release (#21)
  .ldrelease/config.yml
  .npmignore
  package.json
Due: none

fix circle
  .circleci/config.yml
Due: none

Update .eslintignore
  .eslintignore
Due: none

prepare 0.1.0 release (#3)
  .circleci/config.yml
  .eslintignore
  .eslintrc.yaml
  .gitignore
  .ldrelease/config.yml
  .npmignore
  README.md
  cloudflare_feature_store.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  tests/integration/integration-test.js
  tests/miniflare/kv/FeatureStore/LD-Env-deadbeefdeadbeefdeadbeef
  tests/miniflare/package.json
  tests/miniflare/webpack.config.js
  tests/miniflare/worker.js
  tests/miniflare/wrangler.toml
  tsconfig.json
Due: eslint, typescript

Releasing version 0.1.0
  CHANGELOG.md
  docs/build/html/assets/css/main.css
  docs/build/html/assets/images/icons.png
  docs/build/html/assets/images/icons@2x.png
  docs/build/html/assets/images/widgets.png
  docs/build/html/assets/images/widgets@2x.png
  docs/build/html/assets/js/main.js
  docs/build/html/assets/js/search.json
  docs/build/html/index.html
  docs/build/html/interfaces/_client_.ldcfworkeroptions.html
  docs/build/html/interfaces/_client_.ldclient.html
  docs/build/html/interfaces/_feature_store_.ldcloudflareoptions.html
  docs/build/html/modules/_client_.html
  docs/build/html/modules/_feature_store_.html
  docs/typedoc.js
Due: eslint

ignore generated docs
  .gitignore
  docs/build/html/assets/css/main.css
  docs/build/html/assets/images/icons.png
  docs/build/html/assets/images/icons@2x.png
  docs/build/html/assets/images/widgets.png
  docs/build/html/assets/images/widgets@2x.png
  docs/build/html/assets/js/main.js
  docs/build/html/assets/js/search.json
  docs/build/html/index.html
  docs/build/html/interfaces/_client_.ldcfworkeroptions.html
  docs/build/html/interfaces/_client_.ldclient.html
  docs/build/html/interfaces/_feature_store_.ldcloudflareoptions.html
  docs/build/html/modules/_client_.html
  docs/build/html/modules/_feature_store_.html
  docs/typedoc.js
Due: eslint

fix docs build
  CHANGELOG.md
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.md
  cloudflare_feature_store.js
  configuration.js
  docs/build/html/assets/css/main.css
  docs/build/html/assets/images/icons.png
  docs/build/html/assets/images/icons@2x.png
  docs/build/html/assets/images/widgets.png
  docs/build/html/assets/images/widgets@2x.png
  docs/build/html/assets/js/main.js
  docs/build/html/assets/js/search.json
  docs/build/html/index.html
  docs/build/html/interfaces/_client_.ldcfworkeroptions.html
  docs/build/html/interfaces/_client_.ldclient.html
  docs/build/html/interfaces/_feature_store_.ldcloudflareoptions.html
  docs/build/html/modules/_client_.html
  docs/build/html/modules/_feature_store_.html
  docs/typedoc.js
  index.d.ts
  index.js
  messages.js
  package-lock.json
  package.json
  scripts/better-audit.sh
  test-types.ts
  tests/configuration-test.js
  tsconfig.json
Due: eslint, typescript

fix docs build
  .circleci/config.yml
  .editorconfig
  .eslintrc.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .ldrelease/config.yml
  .npmignore
  .pre-commit-config.yaml
  .prettierrc
  assets/css/main.css
  assets/images/icons.png
  assets/images/icons@2x.png
  assets/images/widgets.png
  assets/images/widgets@2x.png
  assets/js/main.js
  assets/js/search.json
  docs/typedoc.js
  index.html
  interfaces/_client_.ldcfworkeroptions.html
  interfaces/_client_.ldclient.html
  interfaces/_feature_store_.ldcloudflareoptions.html
  modules/_client_.html
  modules/_feature_store_.html
Due: eslint

ignore generated docs (#4)
  .gitignore
  docs/build/html/assets/css/main.css
  docs/build/html/assets/images/icons.png
  docs/build/html/assets/images/icons@2x.png
  docs/build/html/assets/images/widgets.png
  docs/build/html/assets/images/widgets@2x.png
  docs/build/html/assets/js/main.js
  docs/build/html/assets/js/search.json
  docs/build/html/index.html
  docs/build/html/interfaces/_client_.ldcfworkeroptions.html
  docs/build/html/interfaces/_client_.ldclient.html
  docs/build/html/interfaces/_feature_store_.ldcloudflareoptions.html
  docs/build/html/modules/_client_.html
  docs/build/html/modules/_feature_store_.html
  docs/typedoc.js
Due: eslint

remove eslint from gh pages
  .eslintignore
Due: none

add .nojekyll placeholder
  .nojekyll
Due: none

update to use npm provided function
  tests/miniflare/webpack.config.js
Due: eslint

try forcing md4
  tests/miniflare/webpack.config.js
Due: eslint

better algorithm
  tests/miniflare/webpack.config.js
Due: eslint

test
  tests/miniflare/webpack.config.js
Due: eslint

add 2nd build job
  .circleci/config.yml
  tests/miniflare/webpack.config.js
Due: eslint

have latest job use new block
  .circleci/config.yml
Due: none

DRY config
  .circleci/config.yml
Due: none

valid config
  .circleci/config.yml
Due: none

PR feedback
  .circleci/config.yml
Due: none

fix quotes
  .circleci/config.yml
Due: none

parameter missing
  .circleci/config.yml
Due: none

Update Circle Config for Node 17 (#5)
  .circleci/config.yml
Due: none

fix wip: almost esm
  README.md
  index.mjs
  package-lock.json
  package.json
  rollup.config.js
Due: eslint

fix wip: almost esm
  .gitattributes
  index.mjs
  package-lock.json
  package.json
  rollup.config.js
Due: eslint

fix dist: include bespoke crypto-browserify.js
  index.mjs
  vendor/crypto-browserify.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  typescript: any of: \.(ts|mts|cts)$, \.tsx$
