Repository launchdarkly/cloudflare-edge-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.9.3'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint
        types_or: [javascript, ts, tsx]
        language: system
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: npm ts
        types_or: [ts, tsx]
        pass_filenames: false
        language: system

fix dist: and thats why they call me bender the magnificent
  README.md
  index.mjs
  package-lock.json
  package.json
  rollup.config.js
  vendor/crypto-browserify.js
  vendor/rollup-plugin-node-polyfills/dist/index.js
  vendor/rollup-plugin-node-polyfills/dist/index.mjs
Due: eslint

doc: Update hacks
  README.md
Due: none

@candy-digital/rollup-plugin-node-polyfills(#launchdarkly-cloudflare-sdk-compat)
  index.mjs
  package-lock.json
  package.json
  rollup.config.js
Due: eslint

clean up "hacks"
  index.mjs
  package-lock.json
  package.json
  vendor/rollup-plugin-node-polyfills/dist/index.js
  vendor/rollup-plugin-node-polyfills/dist/index.mjs
Due: eslint

oopsi
  package.json
Due: none

polyfill setImmediate
  .gitignore
  index.js
  package-lock.json
  package.json
Due: eslint

bump version
  package.json
Due: none

TODO resolve the need for mjs on main
  package.json
Due: none

Update type def and test (#22)
  .circleci/config.yml
  index.d.ts
  package-lock.json
  package.json
  test-types.ts
Due: eslint, typescript

Fixup
  .eslintignore
Due: none

prepare 0.1.1 release (#10)
  .circleci/config.yml
  index.d.ts
  package-lock.json
  package.json
  test-types.ts
Due: eslint, typescript

Releasing version 0.1.1
  CHANGELOG.md
  docs/typedoc.js
  package-lock.json
  package.json
Due: eslint

Ignore generated typedoc config
  .eslintignore
Due: none

Reset package-lock.json
  package-lock.json
Due: none

prepare 0.1.1 release (#11)
  .eslintignore
  package-lock.json
Due: none

Releasing version 0.1.1
  package-lock.json
Due: none

Updating documentation to version 0.1.1
  .circleci/config.yml
  .gitignore
  assets/css/main.css
  assets/highlight.css
  assets/icons.css
  assets/icons.png
  assets/icons@2x.png
  assets/js/main.js
  assets/js/search.json
  assets/main.js
  assets/search.js
  assets/style.css
  assets/widgets.png
  assets/widgets@2x.png
  index.html
  interfaces/LDCFWorkerOptions.html
  interfaces/LDClient.html
  interfaces/_client_.ldcfworkeroptions.html
  interfaces/_client_.ldclient.html
  interfaces/_feature_store_.ldcloudflareoptions.html
  modules/_client_.html
  modules/_feature_store_.html
Due: eslint

adding beta banner (#23)
  README.md
Due: none

adding beta banner
  README.md
Due: none

adding beta banner (#12)
  README.md
Due: none

Update codeowners (#24)
  CODEOWNERS
Due: none

Prep for v1.0.0 release (#25)
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

prepare 1.0.0 release (#14)
  CODEOWNERS
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

Releasing version 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Remove beta callout
  README.md
Due: none

Remove beta callout in README.md
  README.md
Due: none

Update CODEOWNERS with new Product Delivery teams
  CODEOWNERS
Due: none

Update CODEOWNERS with new Product Delivery teams (#26)
  CODEOWNERS
Due: none

Update CODEOWNERS with new Product Delivery teams (#17)
  CODEOWNERS
Due: none

Bug bounty test - please ignore.... (ohtklv)
  package.json
  tests/miniflare/package.json
Due: none

chore: add package rename note (#28)
  README.md
Due: none

prepare 1.0.1 release (#23)
  README.md
Due: none

Releasing version 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
